/* Banner styles */
.banner-image {
    /* background-image: url('.banner-image'); */
    margin: 50px 140px;
    filter: brightness(60%);
}

.header-text {
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
}

.text01 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.text02 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 16px;
}

/* Offer styles */

.offer-container {
    text-align: center;
    margin-left: 300px;
}

.offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 48px;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 16px;
}

/* midnight party section */

.party-details {
    position: relative;
    display: flex;
    justify-content: space-around;

}

.party {
    display: flex;
    position: absolute;
    top: 200px;
    left: 300px;
}

.party-image {
    margin-top: 120px;
    margin-left: 400px;
    margin-right: 140px;
}

.party-text {
    /* position: absolute; */
    bottom: 20px;
    /* left: 300px; */
    top: 180px;
    color: white;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    left: 126px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}

.join-now {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    left: 1000px;
}

.join-now:hover {
    cursor: pointer;
}

/* Hotel styles */
.hotel {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 500px;
    margin-right: 133px;
    margin-left: 133px;
    margin-top: 120px;
    border-radius: 15px;
    
}
.hotel-text {
    padding-top: 60px;
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.place{
    color: red;
}

.button-hotel {
    justify-content: center;
    background-color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    border-radius: 5px;
    text-transform: capitalize;
    color: #FFF;
    padding: 16px 32px;
}
.button-hotel{
    cursor: pointer;
}
.button-join{
    text-align: center;
}

/* awesome portfolio styles */

.best-gifts {
    margin-top: 100px;
    margin-left: 140px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.Portfolio {
    margin-left: 140px;
    margin-bottom: 22px;
    margin-top: 16px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
}

.gift-description {
    margin-left: 140px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.image-container-01 {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 48px;
}

.image-container-02 {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.gift-image-01,
.gift-image-02,
.gift-image-03,
.gift-image-04,
.gift-image-05,
.gift-image-06 {
    width: 30% 30%;
    margin-right: 24px;
    margin-bottom: 24px;
}

.gift-image-01:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}

.gift-image-02:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}

.gift-image-03:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}

.gift-image-04:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}

.gift-image-05:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}

.gift-image-06:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5%;
}

/* Subscription styles */

.email-newsletter {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px;
    margin-top: 130px;
    margin-left: 130px;
    margin-right: -130px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.Newsletter-box-button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    width: 210px;
    height: 72px;
}

.Newsletter-box-button:hover {
    cursor: pointer;
}

.Newsletter-box input {
    color: #FFF;
    width: 410px;
    height: 66px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

.Newsletter-body h1 {
    text-align: center;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.Newsletter-body p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.email-img {
    margin-left: 330px;
}

/* footer styles */

.footer-container {
    background: #070211;
    margin-top: 120px;
    width: 1600px;
    height: 400px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-left: 140px;
    margin-right: 180px;
    color: white
}

.web {
    text-decoration: none;
    color: white;
}

.social-media {
    text-align: center;

}

.social-image {
    padding-right: 10px;
}

.footer-foot {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 10px;
    color: white
}

.footer-button {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background: none;
    border: 0;
    margin-right: 140px;
}

.footer-button {
    cursor: pointer;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    ;
    margin-left: 140px;
    margin-right: 140px;
    height: 1px;
}